.module-card-container{
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.module-card-container:hover{
    transform: scale(1.05);
    transition: 0.2s ease-out;
    cursor: pointer;
}

.module-card-image-container{
    width: 100%;
    height: 80%;
}

.module-card-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.75;
}

.module-card-content-container{
    border-top: 1px solid var(--color-card-border);
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media(min-width:1200px){
    .module-card-container{
        height: 300px;
    }
}